*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

/*Body section*/

body{
    background: #0c0c0f;
    color:#e5e7eb;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

/*Header Section */

header{
    display:flex;
    position:fixed;
    top:0;
    width:100%;
    padding: 2rem 10%;
    background:rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
    justify-content: space-between;
    align-items:center;
    z-index:100;
    background: linear-gradient(
        180deg,
        #020617,
        #000000
    );
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

Logo{
    font-size:2rem;
    font-weight:700;
    background: linear-gradient(
        90deg, 
        #e5e7eb,
        #60a5fa
    );
    background-clip: text;
    color:transparent;

}
/*Hamburger section*/

.menu-toggle{
    display:none;
}

.hamburger{
    font-size:2rem;
    color:#fff;
    cursor:pointer;
    display:none;
    user-select:none;
    z-index:101;
}

/*Menu Section*/
.menu{
    display:flex;
    list-style:none;
}

.menu li a {
    text-decoration: none;
    color:white;
    font-weight:500;
    font-size:18px;
    margin-left:25px;
}
.menu a:hover{
    color:#00abff;
}

/*Hero Section */
.main-content{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:50px;
    flex:1;
    padding:120px 10px 40px;
}

.hero-content{
    flex:0 0 70%;
    max-width:600px;
}

.hero-content h3{
    font-size:2rem;
    font-weight:800;
    margin-bottom:10px;
    color:#cbd5f1;
}

.hero-content h1{
    color:#0ef;
    font-size:3.5rem;
    font-weight: 700px;
    margin: 5px 0;
    line-height:1.1;
}

.welcome{
    display: inline-block;
    font-size:40px;
    color:#60a5fa;
    padding:8px 20px;
    margin: 15px 0;
    border-radius: 999px;
    background: rgba(96,165,250,0.12);
    opacity:0;
    animation: slideInLeft 1.5s ease forwards;
}

@keyframes slideInLeft{
    from{
        opacity:0;
        transform:translateX(-60px);

    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

.hero-text{
    font-size: 1.1 rem;
    line-height:1.7;
    color:#e4e7f1;
}

/*Image Section*/
.image{
    flex:0 0 30%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.image img{
    max-width: 100%;
    width:300px;
    height:auto;
    border-radius:18%;
    border: 2px solid rgb(222,34,182,0.6);
    box-shadow: 0 15px 35px rgb(172, 21, 139);
}

/*Footer*/
footer{
    background: #020617;
    color:9ca3af;
    text-align: center;
    padding: 20px 10%;
    font-size:0.9 rem;
    border-top:1px solid rgba(255,255,255,0.08);
}

/* Mobile menu toggling*/

@media(max-width:768px){
    header{
        justify-content:space-between;
        padding:1.5rem 5%;
    }
    .hamburger{
        display:block;
        order:2;
        font-size:2rem;
        color:#00abff;
        cursor:pointer;
        z-index: 101;
    }

    .menu{
        flex-direction:column;
        display:flex;
        position:fixed;
        top:0;
        right:-240px;
        width:220px;
        height:auto;
        gap:20px;
        background:rgba(0,0,0,0.8);
        padding:80px 20px;
        transition:right 0.3s ease;
        z-index: 100;
        border-radius:0 0 0 10px;
        z-index:100;
        overflow-y:auto;
    }

    /*Show mwnu when checkbox is checked*/
    .menu-toggle:checked ~ nav .menu{
        right:0;
    }

    .menu li a{
        margin-left:0;
        font-size:1.2rem;
    }
    .main-content{
        flex-direction:column;
        text-align:center;
        gap:40px;
        padding: 140px 10px 60px;
    }
    .image img{
        width:220px;
    }
    .hero-content{
        flex:none;
        max-width:100%;
    }
    .hero-content h1{
        font-size:2.5rem;
    }
    footer{
        padding: 20px 5%;
        font-size: 0.85rem;
        flex-shrink:0;
    }

}


