*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

/*Body section*/

body{
    background: #0c0c0f;
    color:#e5e7eb;
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

/*Header Section */

header{
    display:grid;
    grid-template-columns:auto 1fr auto;
    position:sticky;
    top:0;
    width:100%;
    padding: 2rem 10%;
    background:rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
    justify-content: space-between;
    align-items:center;
    z-index:100;
    background: linear-gradient(
        180deg,
        #020617,
        #000000
    );
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.Logo{
    font-size:2rem;
    font-weight:700;
    background: linear-gradient(
        90deg, 
        #e5e7eb,
        #60a5fa
    );
    background-clip: text;
    color:transparent;
    justify-self:start;

}
/*Hamburger section*/

.menu-toggle{
    display:none;
}

.hamburger{
    font-size:2rem;
    color:#fff;
    cursor:pointer;
    display:none;
    user-select:none;
    z-index:101;
}

/*Menu Section*/

nav{
    justify-self:end;
}
.menu{
    display:inline-grid;
    grid-auto-flow:column;
    gap:25px;
    list-style:none;
}

.menu li a {
    text-decoration: none;
    color:white;
    font-weight:500;
    font-size:18px;
    margin-left:25px;
}
.menu a:hover{
    color:#00abff;
}
/*Index.html css */

/*Hero Section */
.main-content{
    display:grid;
    grid-template-columns:40% 60%;
    align-items: center;
    gap:50px;
    padding:40px 10% 40px;
    overflow-x:hidden;
}
/*Image Section*/
.image{
    display:grid;
    place-items:center;
}

.image img{
    max-width: 100%;
    max-width:300px;
    height:auto;
    border-radius:18%;
    border: 2px solid rgb(222,34,182,0.6);
    box-shadow: 0 15px 35px rgb(172, 21, 139);
}

.hero-content{
    max-width:600px;
    justify-self:start;
    padding-left:0;
}

.hero-content h3{
    font-size:2rem;
    font-weight:800;
    margin-bottom:10px;
    color:#cbd5f1;
}

.hero-content h1{
    color:#0ef;
    font-size:3.5rem;
    font-weight: 700px;
    margin: 5px 0;
    line-height:1.1;
}

.welcome{
    display: inline-block;
    font-size:40px;
    color:#60a5fa;
    padding:8px 20px;
    margin: 15px 0;
    border-radius: 999px;
    background: rgba(96,165,250,0.12);
    opacity:0;
    animation: slideInLeft 1.5s ease forwards;
}

@keyframes slideInLeft{
    from{
        opacity:0;
        transform:translateX(-60px);

    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

.hero-text{
    font-size: 1.1rem;
    line-height:1.7;
    color:#e4e7f1;
}

/*Footer*/
footer{
    background: #020617;
    color:9ca3af;
    text-align: center;
    padding: 10px 10%;
    font-size:0.9rem;
    line-height:4;
    align-self:end;
    border-top:1px solid rgba(255,255,255,0.08);
    position:relative;
}

/* Mobile menu toggling*/

@media(max-width:768px){
    header{
        grid-template-columns: auto 1fr auto;
        padding:1.5rem 5%;
        position: sticky;
        top:0;
        z-index:100;
        align-items:center;
    }
    
    .hamburger{
        display:block;
        font-size:2rem;
        color:#00abff;
        cursor:pointer;
        justify-self:end;
        z-index:101;
    }

    .menu{
        display:grid;
        grid-auto-rows:auto;
        position:fixed;
        grid-auto-flow:row;
        top:0;
        right:-240;
        width:220px;
        height:auto;
        gap:20px;
        background:rgba(0,0,0,0.8);
        padding:80px 20px;
        transition:height 0.3s ease;
        z-index: 100;
        justify-items:center;
        overflow:hidden;
    }
    /*Show mwnu when checkbox is checked*/
    .menu-toggle:checked ~ nav .menu{
        right:0;
    }

    .menu li a{
        font-size: 1.2 rem;
        color:white;
        text-decoration:none;
        font-weight:500;
        padding:12px 0;
        display:block;
        width:100%;
        text-align:center;
    }
    .main-content{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
        text-align:center;
        gap:30px;
        padding: 50px 5% 40px;
        text-align:center;
        overflow-x: hidden;
    }
    .image{
        justify-self:center;
        order:1;
    }
    .image img{
        width:220px;
        max-width:100%;
        height:auto;
    }
    .hero-content{
        order:2;
        max-width:100%;
        justify-self:center;
    }
    .hero-content h1{
        font-size:2.5rem;
    }
    footer{
        margin-top:30px;
        padding: 15px 5%;
        font-size: 0.85rem;
        line-height:1.4;
    }

}

/* Project section */
.projects-section{
    padding:40px 10%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap:30px;

}

.projects-section h1{
    text-align:center;
    font-size:2.5rem;
    color:#60a5fa;
}
.projects-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}
.project-card{
    display: grid;
    grid-template-rows:auto 1fr;
    text-align:center;
    padding:10px;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(172,21,139,0.5);
    transition:transform 0.3s ease;
    background:#111;
    height:100%;
}

.project-card:hover{
    transform:translateY(-5px);
}

.project-card img{
    width:100%;
    height:200px;
    border-radius:10px;
    object-fit:cover;
    border-bottom:2px solid rgba(96,165,250,0.3);
}
.project-info{
    display:grid;
    grid-template-rows:auto 1fr auto;
    padding:10px;
    color:#fff;
    background:rgba(18,18,18,0.9);
    gap:5px;
}
.project-info h2{
    color:#60a5fa;
    margin-bottom:5px;
}
.project-desc{
    font-size: 0.95rem;
    line-height:1.5;
    overflow:hidden;
    margin:0;
}
.project-desc.extended{
    max-height:0;
    overflow:hidden;
    transition: max-height 0.3s ease;
}
.read-more-toggle{display:none;}
/*When checked*/
.read-more-toggle:checked~ .extended{
    max-height:300px;
    overflow-y:auto;

}
.read-more-btn{
    justify-self:center;
    padding:5px 12px;
    margin-top:8px;
    border:none;
    border-radius:5px;
    background:#60a5fa;
    color:#0c0c0c;
    font-weight:600;
    cursor:pointer;
    transition: background 0.3s ease;
}
.read-more-btn:hover{
    background:#0ef;
}

/*Mobile view for projects*/
@media(max-width:768px){
    .projects-section{
        padding:20px 6%;
        gap:20px;
    }
    .projects-grid{
        grid-template-columns:1fr;
        gap:20px;
    }
    .project-card{
        width:100%;
        height:auto;
    }
    .project-card img{
        height:160px;
        object-fit:cover;
    }
    .project-info{
        grid-template-rows: auto auto auto;
        padding:12px;
    }
    .project-desc{
        font-size:0.9rem;
        line-height:1.6;
    }
    .read-more-btn{
        margin-top:10px;
    }
}

/*Contact.html css*/
.Contact-details{
    display:grid;
    place-items:center;
    text-align:center;
    padding:30px 0px;
    margin-bottom:10px;
}


.Contact-details h1{
    font-size: 3rem;
    font-weight:800;
    color:#60a5fa;
    background:linear-gradient(90deg, #60a5fa, #0ef);
    background-clip:text;
    color:transparent;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    margin-bottom:15px;
}

.Contact-details p{
    font-size: 1rem;
    color:#cbd5f1;
    max-width:600px;
    margin: 0 auto;
    line-height:1.5;
}

form{
    display:grid;
    gap:16px;
    width:70%;
    margin: 0 auto;
    background:#111;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(172, 21, 139, 0.5);
}

.name-row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

.form-group{
    display:grid;
    gap:5px;
}

label{
    color:#60a5fa;
    font-weight:500;
    font-size:1rem;
}

input, textarea{
    padding:12px 15px;
    border-radius:12px;
    border:1px solid rgba(96,165,250,0.3);
    background:#222;
    color:#fff;
    font-size:1rem;
    outline:none;
    transition:border 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus{
    border:1px solid #0ef;
    box-shadow: 0 0  10px rgba(0,238,255,0.3);
}

textarea{
    min-height:120px;
    resize:vertical;
}

.button-row{
    display:grid;
    grid-template-columns: auto auto;
    gap:15px;
    justify-content: start;
}

button{
    padding: 10px 20px;
    border-radius: 12px;
    border:none;
    font-weight: 600;
    cursor:pointer;
    font-size:1rem;
    transition:background 0.3 ease, transform 0.2s ease;
    width:120px;
    text-align:center;
}

button[type="submit"]{
    background:#60a5fa;
    color:#0c0c0c;
}

button[type="submit"]:hover{
    background:#0ef;
    transform:translateY(-2px);
}

button[type="reset"]{
    background:#e53e3e;
    color:#fff;
}

button[type="reset"]:hover{
    background:#ff5252;
    transform:translateY(-2px);  
}
.contact-info {
    display:grid;
    place-items: center;
    text-align:center;
    padding:40px 10px 80px;
    gap:15px;
}

.contact-info h2{
    font-size: 2rem;
    font-weight:700;
    color:#60a5fa;
    margin-bottom:10px;
}
.contact-info .info-item{
    display:grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
    font-size: 1rem;

}
.contact-info .social-row a {
    color: #60a5fa;
    font-size:1.5rem;
    transition:color 0.3s ease;
}

.contact-info .social-row a:hover{
    color: #0ef;
}

/* Mobile Responsive view*/
@media (max-width: 768px){
    .Contact-details p{
        font-size:0.95 rem;
        max-width: 95%;
        line-height:1.55;
        padding: 0 10px;

    }
    form{
        width:95%;
        padding:15px;
    }
    .name-row{
        grid-template-columns:1fr;
    }
    .button-row{
        grid-template-columns:1fr,1fr;
    }
    .button-row{
        justify-content:start;
    }
    .contact-info{
        padding:10px;
    }
}

